/*Formatação geral*/
*{
    font-family: arial;
    margin: 0px; 
}   

body{
    margin:0px;
} 

p,h1,h2,h3,h4,h5,h6,a{
    overflow-wrap: break-word;
}


:root{
    --color-title:rgb(59,59,59);

    --color-background-title:gray
}

.tituloGeral{
    background-color: var(--color-background-title);
    color: var(--color-title);
    padding: 5px;
}

/*FORMATAÇÂO CABEÇALHO*/
#Logo{  
    background-color: orange;
    text-align: center;
    padding: 15px;
    margin:0px;
}

#Tec{
    font-size: 1.3em;
    font-weight: bold;
}

#Blog{
    font-weight: bold;
    color: white;
    font-size: 1.3em;
}

    /*Formatar link cabeçalho*/

#espacoLinkTitulo{
    margin-top:10px;
}

.linkCabecalho{
    color:white;
    font-weight: bold;
    text-decoration: none;
    padding: 3px;

}   

.Link:hover{
    background-color:white;
    color: orange;
    border-radius: 10px;
    transition: 1s;
}

/*Link geral*/

.leiaMais, .Categorias{
    text-decoration: none;
    color:orange;
    
}

.leiaMaisHover:hover{
    text-decoration: underline;
    font-weight: bold;
}


.Categorias{
    font-weight: bold;
    display:block;
}

/*Conteudo*/

.imagem{
    width: 600px;
    height: 350px;
}

#divCont{
    width: 80%;
    margin:0 auto;  
    margin-top: 10px;
    
}

#caixaPrincipal{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#caixaDireita{
    display: flex;
    flex-direction: column;
}

#conteudoEsquerda{
    background-color:rgb(247, 241, 241);
    width: 600px;
    height: auto;
    margin-bottom: 15px;
}

#conteudoDireita{
    background-color: rgb(247, 241, 241);
    width: 300px;
    height: auto;
    margin-bottom:10px;
}

.link2:hover{
    text-decoration: underline;
}
/*Rodape*/

#Rodape{
    background-color:gray ;
    text-align: center;
    clear:both;
}
/*Responsividade*/
@media (max-width: 1000px){
    #caixaPrincipal{
        display: flex;
        flex-direction: column;
    }

    #caixaDireita{
        margin: 0 auto;
        width: 100%;
    }

    #conteudoDireita{
        width: 100%;
    }

    #conteudoEsquerda{
        width: 100%;
    }

    .imagem{
        width: 100%;
    }
}